@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-blue-ignition: #0A223D;
  --color-red-amber-torque: #EB2121;
  --color-gray-oxide-steel: #D9D9DF;
  --color-gray-shuttle-white: #FEFEFE;
  --color-blue-gravel-mist: #0944DB;
  --color-gray-soft: #F4F4F4;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--color-blue-ignition);
}